@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
body{
    background: #358AA0;
    color: #fff;
    text-align: center;
}
th{
    color: #fff;
    font-family: 'inter', sans-serif;
}
.bg-primary {
    background-color: #000000 !important;
}

img{
    width: 20px;
    height: 20px;
    border: none;
}